@import "tailwindcss";

.product-card {
  position: relative;
}



.product-card:hover::before {
  opacity: 1;
}
/* Body text */

/* BODY / UI */
body {
  font-family: var(--font-body);
  font-weight: 400;
}

/* HEADINGS */
h1, h2, h3, h4, h5 {
  font-family: var(--font-heading);
  font-weight: 800;
  letter-spacing: -0.04em;
}
